h1{
background-color: blue;
border: 5px light black;
font-style: italic;
text-align: center;
}
p{
  border: 10px solid black;
  font-size: 20px;
}
.page-content {
  background-color: grey;
}
body{
  background-color: black;
}
#unique-p-tag{
  background-color: purple;
  font-size: 40px;
}
table{
  width: 600px;
}
th. td {
  padding: 7px 10px 10px 10px;
}
th{
  text-transform: uppercase;
  letter-spacing: 01.em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: center;
  background-color: white;
}
tr{
  background-color: white;
}
